{%extends "base.html"%}
{%load crispy_forms_tags %}

{%block content%}
    <div class="container content-section mt-2 border" style="width: 30rem;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class ="border-bottom mb-4">Log In</legend>

                {{ form|crispy}}

            </fieldset>
            <div class="content-section">
                <button type="submit" class="btn btn-success m-1">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
               ¿ No tienes una cuenta ? <a class="ml-2" href="{% url 'register' %}">Crear cuenta</a>
            </small>
        </div>
    </div>

{%endblock%}